img {
    width: 50%;
    height: 50%;
    object-fit: fill;
  }
  
  ul {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
  }
  li {
    list-style: none;
    border: 1px solid grey;
    justify-content: center;
    align-content: center;
  }
  
  li img {
    object-fit: contain;
    overflow: none;
    width: 100px;
    height: auto;
  }
  .amazon {
    padding-top: 30px;
  }
  .addidas {
    padding-top: 15px;
  }
  